:root {
  --bg-color: #ede2bb;
  --text-color: #111;
  --card-bg: #f8cda1;
  --focus-color: #007BFF;
  --border-color: #ccc;
}

[data-theme='dark'] {
  --bg-color: #7c6a2a;
  --text-color: #fff;
  --card-bg: #a8784a;
  --focus-color: #90caf9;
  --border-color: #b48659;
}
